@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
#topBlok{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: #deffe2;
    border-radius: 35px;
    box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.75);
    margin-top: 1.5%;
}
#topBlok > div {
    text-align: left;
    width: 300px;
    border-radius: 5px;
}
h1{
    font-size: 25px;
    margin: 10px 0 0 0;
}
ul{
    margin: 5px 0;
}
#bottomBlock{
    width: 90%;
    margin: 0 auto 1.5% auto;
}
#buttonPosts {
    background: linear-gradient(to bottom, #c1d5b8, #e2fad0);
    width: 100%;
    height: 35px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 35px;
    border: #435745 solid 2px;
    color: black;
    margin: 15px auto;
    letter-spacing: 1px;
    transform: scale(1);
    transition: transform 0.2s, border 0.2s;
}
#buttonPosts:hover{
    transform: scale(1.01);
    transition: 0.2s;
}
#buttonPosts:active{
    transform: scale(0.8);
    transition: 0.2s;
}

.divWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background: #deffe2;
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.75);
    gap: 5px;
}
.divWrapper > div:nth-child(2n) {
    background-color: rgba(202, 255, 191, 0.81);
}


.divPostsWrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border: #92c59b solid 2px;
    padding: 10px;

}

.buttonPostDetalis {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #f3f3f3, #ffffff);
    width: 80px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    border: #58715a solid 2px;
    padding: 5px 5px;
    color: black;
    cursor: pointer;
    letter-spacing: 1px;
    transform: scale(1);
    transition: transform 0.2s, border 0.2s;
    text-align: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}
.buttonPostDetalis:focus {
    outline: none;
}
.buttonPostDetalis:hover{
    border: #000000 solid 2px;
    transform: scale(1.02);
    transition: 0.2s;
}
.buttonPostDetalis:active{
    transform: scale(0.8);
    transition: 0.2s;
}
